<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.number.NumberDao">
    <resultMap type="com.project.entity.tables.Number" id="number">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="type" property="type" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="number" property="number" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

    <insert id="insert" parameterType="java.util.List">
        insert into t_number
        (
            type,
            number,
            create_time
        ) values
        (
            #{type, jdbcType=VARCHAR},
            #{number, jdbcType=VARCHAR},
            #{createTime, jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectLastNumber" resultMap="number">
        select
            id,
            type,
            number,
            create_time
        from t_number where 1 = 1
        and type=#{type, jdbcType=VARCHAR}
        order by id desc limit 0,1
    </select>
</mapper>