# 配置中心文件只能放在boostrap.yml文件中
# 所有配置都是从nacos配置中心取
server:
  port: 8090

spring:
  application:
    name: pp-gateway
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

management:
  endpoints:
    web:
      exposure:
        include: '*'