<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.dao.user.UserRoleDao">
    <resultMap type="com.pp.dao.user.UserDao" id="user">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="create_time" property="createTime"/>
        <result column="account" property="account"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="enable" property="enable"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="selectByAccount" resultMap="user">
        select
        uuid,
        account,
        name,
        password,
        email,
        enable,
        type,
        create_time
        from user where 1 = 1
        and account = #{account}
    </select>
</mapper>